<!doctype html>   
<html>   
<head>
<title>Students By Sinatra</title>
<link rel="stylesheet" href="/styles.css" type ="text/css">
</head>   
<body>   
<h1>Students by Sinatra</h1>   
<%= erb :nav %>

<%= yield %>
</body>
</html>